#set ($titlePage = "Datos del Medico" )

<script language='javascript' src="$content.getURI("javascript/calendar.js")"></script>
<script language='javascript' src="$content.getURI("javascript/reportes.js")"></script>

<script language="javascript" SRC="$content.getURI("javascript/generales.js")"></script>
<script language='javascript' src="$content.getURI("javascript/calendarfoco.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/CalculaEdad.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/pantallas/mantenimiento/medico/CapturaMedicos.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/medico/CapturaOrdenMedico.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/tools/Tools.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/sms/SMSAdministracion.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/tools/Tools.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/tooljquery/submodal/common.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/tooljquery/submodal/subModal.js")"></script>

<script type='text/javascript' src='/web2labportal/dwr/interface/ToolsAjax.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/interface/DatosMedico.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/engine.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/util.js'></script>

#set ($ligaAltaRegalo = $link.setPage("web2lab,comer,RegistroRegalo.vm").toString())

#set($ligaReporte = $link.setPage("web2lab,ap,RepRedirect.vm"))
#set($ligaReporte = $link.setAction("reportes.ReporteAction").toString())

#set ($ligaAct = $link.setPage("web2lab,comer,MedicosDatos.vm").setAction("fundacion.DatosOrden").toString())
#set ($intcClaveMedico = $data.getSession().getAttribute('cClaveMedico') )

#set ($lstEspecialidad = $CatalogosTool.obtenAll("Especialidad","0"))
#set ($lstReferenciaDireccion = $CatalogosTool.obtenAll("ReferenciaDireccion","0"))
#set ($lstZonaMedico = $CatalogosTool.obtenAll("ZonaMedico","0"))
#set ($lstEstados = $CatalogosTool.obtenAllField("CodigoPostal","sestado"))

#set ($ligaRutaMantenimientoDirecciones = $link.setPage("web2lab,comer,medico,DomicilioMedico.vm").toString())
#set ($ligaRutaMantenimientoTelefonos = $link.setPage("web2lab,comer,medico,TelefonoMedico.vm").toString())


<script>
		 window.onload = init;		
</script>	


<form name="frmMedicos" action="" method="post" >		
	<input type="hidden" id="idUsuario" name="idUsuario" value="$data.getUser().getId()">	
	<input type="hidden" id="IdSucursalActual" name="IdUnidadActual" value="$data.getSession().getAttribute("idgrupo")">	
	<input type="hidden" id="hdenRutaRegaloAlta" name="hdenRutaRegaloAlta" value="$ligaAltaRegalo">
	<input type="hidden" id="hdenligaRutaMantenimientoDirecciones" name="hdenligaRutaMantenimientoDirecciones" value="$ligaRutaMantenimientoDirecciones">
	<input type="hidden" id="hdenligaRutaMantenimientoTelefonos" name="hdenligaRutaMantenimientoTelefonos" value="$ligaRutaMantenimientoTelefonos">
    <input type="hidden" id="hdnEstadoMedico" value="0"/>
	<input type="hidden" id="hdnActualizacion" value="0"/>
	<input type="hidden" id="hdnCMedico" value="0"/>
	<div id="RegistroMedico" style="display:none">
        <table border="0"  align="center" style="width: 883px">
            <tr>
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
        			<input type="button" id="btnEstadoCuentaPuntos" name="btnEstadoCuentaPuntos" value="Estado Cuenta Puntos" onClick="repEstadoCuentaPuntos('$ligaReporte','ImprimeEstadoCuentaPuntos');" class="boton">    	    	
        	    </td>    	    
    			<td><b>Desde:</b><br><input type="text" name="txtDeFecha" 
    				#if($!fechaDesde != "") 
            			value="$!fechaDesde" 
            		#else
            			value="$CatalogosTool.getFecha()"
            		#end
    				size="13" onChange="javascript:this.value=validaFormatoFecha(this.value);">
    				<a href="javascript:doNothing()" onClick="javascript:setDateField(document.frmMedicos.txtDeFecha);top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')" align="bottom">
    				<img alt='Seleccione una fecha' border='0' src='$content.getURI('images/icono_calend.gif')'></a>    				
    			</td>
    			<td><b>Hasta:</b><br><input type="text" name="txtAFecha" 
    				#if($!fechaHasta != "")
            			value="$!fechaHasta"
            		#else 
            			value="$CatalogosTool.getFecha()"
            		#end
    				size="13" onChange="javascript:this.value=validaFormatoFecha(this.value);">
    				<a href="javascript:doNothing()" onClick="javascript:setDateField(document.frmMedicos.txtAFecha);top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')" align="bottom">
    				<img alt='Seleccione una fecha' border='0' src='$content.getURI('images/icono_calend.gif')'></a>
    			</td>
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
        			<input type="button" id="btnNuevoRegalo" name="btnNuevoRegalo" value="Nuevo Regalo" onClick="showSubModalRegistraRegalo(window.document.frmMedicos);" class="boton">    	    	
        	    </td>    	    
            </tr>   
    	</table>
	</div>
	<table border="0"  align="center" style="width: 100%">
        <tr>			
			<td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
		        <a href="javascript:doNothing()" onclick="javascript:limpiaMedico();">
		            <img alt='Limpiar' id="btnLimpiar" width="30" height="30" border='0' src='$content.getURI('images/icoLimpiar.png')' />
		        </a>	
    	    </td>     
			<td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
		        <a href="javascript:doNothing()" onclick="javascript:VerificaAltaMedico();"> 
		            <img alt='Guardar' id="idGuardarNuevaOrden" width="30" height="30" border='0' src='$content.getURI('images/icoGuardar.png')' />
		        </a>	
    	    </td>  
    	    <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
		        <a href="javascript:doNothing()" onclick="javascript:VerificaModificacion();"> 
		            <img alt='Actualizar' id="idUpdateMedico" width="30" height="30" border='0' src='$content.getURI('images/pngocean.png')' />
		        </a>	
    	    </td>    
			<td>
				<input type="button" id="idReasigancion" name="idReasigancion" value="Procesos Medicos" onClick="reasignacionOrdenes();" class="boton">
		       
			</td>
			<td>			
			</td> 
			<td>			
			</td>
        </tr>   
    </table>	
	<table border="0"  align="center" style="width: 100%">
        <tr>
    	    <th colspan="6">
    	        <center>
    	            <b style="font-weight: bold; font-size: medium; color: black; font-style: normal; font-variant: normal">Datos Demográficos del Médico</b>
    	         </center>
    	    </th>     
    	</tr>
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Clave <input type="text" id="txtCodigoMedico" value="0" size="5" onKeyPress="mayuscula();" onkeyup="consultaMedicoGrid(window.document.frmMedicos);"/>                
    	    </td>     
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
    	    	Zona
            	<select id="selZona" style="width: 177px" onChange="medicosxZona(window.document.frmMedicos);" >
					<option value="-1">Selecciona </option>								
					#foreach($objZonaMedico in $lstZonaMedico)
						#option("$!objZonaMedico.getCzona()" "Zona - $!objZonaMedico.getCzona()" "0")							
					#end
				</select>    	    
    	    </td>
    	    <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
    	    	<input type="checkbox" id="checkSustentable" name="checkSustentable">
  				<label for="checkSustentable">Sustentable</label>
				<img alt='Sustentable' id="idSustentable" width="20" height="20" border='0' src='$content.getURI('images/sustentable.png')' />
    	    </td> 	    
        </tr>   
        <tr>
        </tr>   
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                &nbsp;* Apellido Paterno
    	    </td>     	                
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                &nbsp;* Apellido Materno
    	    </td>     
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                &nbsp;* Nombre(s)
    	    </td>
			<td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
            	&nbsp;* Sexo
    	    </td>                 
        </tr>   
        <tr>
            <td style="width: 187px">
                <input type="text" id="txtApellidoPaternoMedico" onKeyPress="mayuscula();" onkeyup="consultaMedicoGrid(window.document.frmMedicos);"  size="35"/>
    	    </td>     
            <td style="width: 158px">
                <input type="text" id="txtApellidoMaternoMedico" onKeyPress="mayuscula();" onkeyup="consultaMedicoGrid(window.document.frmMedicos);"  size="35"/>
    	    </td>     
            <td>
                <input type="text" id="txtNombreMedico" onKeyPress="mayuscula();" onkeyup="consultaMedicoGrid(window.document.frmMedicos);"  size="35"/>
    	    </td>
			<td style="width: 187px">
					<input type="radio" id="radSexo" name="radSexo" >Femenino		
   	        </td>
			<td style="width: 187px">
					<input type="radio" id="radSexo" name="radSexo" >Masculino
			</td>
        </tr> 		
    </table>	
	<table border="0"  align="center" style="width: 100%">
	    <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
            	&nbsp;<b> RFC </b> 
	        </td> 
			<td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
        	    &nbsp;<b> Fecha nacimiento yyyy-mm-dd </b>
    	    </td>  
			<td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
    	        &nbsp;<b> Especialidad </b>
    	  	</td>
			<td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
	            &nbsp;<b> Correo electronico </b>
    	  	</td>
        </tr> 
		<tr>
			<td style="width: 150px">
		     	<input type="text" id="txtRfc" onKeyPress="javascript:return mayuscula();validaRFC(window.document.frmMedicos);"  size="17" />
			</td>
            <td style="width: 224px">
			    <div id="CalendarioNac">
                    <input type="text" name="txtFechaNacimiento" size="12" value="$!strFecFormat" 
                    style="background:#E6E6FA" onKeyup="javascript:agregaDiag(this);" onFocus="javascript:obtenerEdadfrm(window.document.frmMedicos);" onChange="javascript:this.value=validaFormatoFecha(this.value); obtenerEdadfrm(window.document.frmMedicos);">		
			        <a href="javascript:doNothing()" onclick="javascript:setDateField(document.frmMedicos.txtFechaNacimiento); top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')">
			            <img alt='Seleccione una fecha'  id="imgFechaNacimiento" border='0' src='$content.getURI('images/icono_calend.gif')' />
			        </a>	
	                <input type="text"  id="txtEdadDescompuesta" style="font-size: 17px;" value="" class="textflat" disabled size="7">			        
			    </div>				
	        </td>     
			<td style="width: 187px">            
            	<select id="selEspecialidad" multiple="multiple" style="width: 177px" onChange="medicosxEspecialidad(window.document.frmMedicos);" >
					<option value="0">Selecciona </option>								
					#foreach($objEspecialidad in $lstEspecialidad)
						#option("$!objEspecialidad.getCespecialidad()" "$!objEspecialidad.getSespecialidad()" "0")							
					#end
				</select>
    	    </td>
			<td style="width: 187px">
                <input type="text" id="txtCorreoElectronico" size="30" />
   	        </td>     
		</tr>        
    </table>
    <table border="0"  align="center" style="width: 100%">	        
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Telefono
    	    </td>	            
            <td>
                <input type="text" id="txtTelefono" onKeyPress="mayuscula();" style="width: 180px" />
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Dias Visita
    	    </td>	            
            <td>
                <input type="text" id="txtDiasVisita" onKeyPress="mayuscula();" style="width: 180px" />
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Horario Visita
    	    </td>	            
            <td>
                <input type="text" id="txtHorarioVisita" onKeyPress="mayuscula();" style="width: 180px" />
    	    </td>
        </tr>   
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                CURP
    	    </td>	            
            <td>
                <input type="text" id="txtCURP" onKeyPress="mayuscula();" style="width: 180px" />
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Tipo de Medico
    	    </td>	            
            <td>
                <select id="selTipoMedico" style="width: 177px" >
					<option value="0">Selecciona</option>								
					<option value="1">A</option>								
					<option value="2">B</option>								
					<option value="3">C</option>													
				</select>
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Tipo de Pago
    	    </td>	            
            <td>
            	<select id="selFormaPago" style="width: 177px" >
					<option value="0">Honorarios</option>								
					<option value="1">Asimilables</option>								
				</select>    	    
   	        </td>        	        
        </tr>  
        
        
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Usuario Web
    	    </td>	            
            <td>
                <input type="text" id="txtUsuarioWeb" onKeyPress="mayuscula();" style="width: 180px" />
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal" colspan="4">
                Marcas Venta:
                <input type="checkbox" id="checkOlab" name="checkOlab" value="1">
  				<label for="checkOlab">Olab</label>
 				<input type="checkbox" id="checkAzteca" name="checkAzteca" value="4">
 				<label for="checkAzteca">Azteca</label>
 				<input type="checkbox" id="checkSwisslab" name="checkSwisslab" value="5">
 				<label for="checkSwisslab">Swisslab</label>
                <input type="checkbox" id="checkJenner" name="checkJenner" value="7">
 				<label for="checkJenner">Jenner</label>
                <input type="checkbox" id="checkLiacsa" name="checkLiacsa" value="15">
 				<label for="checkLiacsa">Liacsa</label>
 				<input type="checkbox" id="checkFamilyLabsNorte" name="checkFamilyLabsNorte" value="19">
 				<label for="checkFamilyLabsNorte">FamilyLabs Norte</label>
 				<input type="checkbox" id="checkExakta" name="checkExakta" value="20">
 				<label for="checkExakta">Exakta</label>
 				<input type="checkbox" id="checkAsesoresSur" name="checkAsesoresSur" value="21">
 				<label for="checkAsesoresSur">Asesores del Sur</label>
 				<input type="checkbox" id="checkMoreira" name="checkMoreira" value="16">
 				<label for="checkMoreira">Moreira</label>
 				<input type="checkbox" id="checkPolab" name="checkPolab" value="22">
 				<label for="checkPolab">Polab</label>
 				<input type="checkbox" id="checkBiomedicaReferencia" name="checkBiomedicaReferencia" value="25">
 				<label for="checkBiomedicaReferencia">Biomedica de Referencia</label>
 				<input type="checkbox" id="checkPromedic" name="checkPromedic" value="26">
 				<label for="checkPromedic">Promedic</label>
    	    </td>     	        
        </tr> 
        
        
         
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
    	    </td>	            
            <td>
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
    	    </td>	            
            <td>
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
    	    </td>	            
        </tr>   
    </table>
    
    
    
    
    
    
    <table border="0"  align="center" style="width: 100%">	        
        <tr>
    	    <th colspan="6">
    	        <center>
    	            <b style="font-weight: bold; font-size: medium; color: black; font-style: normal; font-variant: normal">Direcci&oacute;n</b>
    	        </center>
    	    </th>
        </tr>  
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Tipo de Direcci&oacute;n
    	    </td>	            
            <td >
                <SELECT id="selReferenciaDireccion" style="WIDTH: 177px"> 
	                <OPTION value=0>Selecciona</OPTION> 
	                <OPTION value=1>CONSULTORIO</OPTION> 
	                <OPTION value=2>CLINICA</OPTION> 
	                <OPTION value=3>HOSPITAL</OPTION>
                </SELECT>
    	    </td>
    	    <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Estatus
    	    </td>	
			 <td>
            	<select id="selEstatusDireccion" style="width: 177px" >
					<OPTION value="0">ACTIVO</OPTION> 
	                <OPTION value="1">INACTIVO</OPTION> 
				</select> 		
    	    </td>
        </tr>   
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                *Calle
    	    </td>	            
            <td colspan="5">
                <input type="text" id="txtCalle" style="width: 490px" onKeyPress="mayuscula();"   />
    	    </td>
        </tr>   
        <tr>
            <input type="hidden" id="hdnCodigoPostal" value="0"/>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                *Colonia
    	    </td>
            <td style="width: 158px">
                <input type="text" id="txtColonia" style="width: 157px" onKeyPress="mayuscula();" onkeyup="consultaDireccionGrid(window.document.frmMedicos);"  />
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                *Delegaci&oacute;n o Municipio
    	    </td>
            <td style="width: 158px">
                <input type="text" id="txtDelegacionMunicipio" style="width: 180px" onKeyPress="mayuscula();" onkeyup="consultaDireccionGrid(window.document.frmMedicos);"  />
    	    </td>
        </tr>   
        <tr>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                *Estado
    	    </td>
            <td style="width: 158px">
            	<select id="selEstado" style="width: 177px" >
					#foreach($objEstado in $lstEstados)
						#option("$!objEstado.getKdistinct()" "$!objEstado.getSdistinct()" "0")							
					#end
				</select>    	    
    	    </td>
            <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                *C&oacute;digo Postal
    	    </td>
            <td>
                <input type="text" id="txtCodigoPostal" onKeyPress="javascript:return numero();" onkeyup="consultaDireccionGrid(window.document.frmMedicos);" />
    	    </td>
        </tr>   
    </table>
	<div id="gridbusquedaDireccion">                
	</div>   
    
    
    
    
    
	<div id="divGridDirecciones">                			
    </div>
	<div id="divGridTelefonos">                			
    </div>
	<div id="gridbusquedaDireccion">                
	</div>            		        				
	<table border="0"  align="center" style="width: 100%">
        <tr>
    	    <th colspan="6">
    	        <center>
		            <input type="hidden" id="hdnActualizacion" value="0"/>
    	            <b style="font-weight: bold; font-size: medium; color: black; font-style: normal; font-variant: normal">Sección de Ayuda</b>
    	         </center>
    	    </th>     
    	</tr>
	</table>	
	<div id="MedicoBusqueda" style="width:100%; height:150px;">
	</div>            		        				
	<div id="MedicoBusquedaPacientes" style="display:none">
        <table border="0"  align="center" width='100%'>
            <tr>
        	    <th colspan="6">
        	        <center>
        	            <b style="font-weight: bold; font-size: medium; color: black; font-style: normal; font-variant: normal">Administracion</b>
        	         </center>
        	    </th>     
        	</tr>
            <tr>
                <td>
    				<input type="button" id="idLimpiarPantalla" name="idLimpiarPantalla" value="Limpiar Pantalla" onClick="limpiaPantalla();" class="boton">
        	    </td>     
                <td>
    				<input type="button" id="idLoadPantalla" name="idLoadPantalla" value="Cargar Todos los Pacientes" onClick="buscarOrdenesConvenio($!intcConvenio);" class="boton">
        	    </td>     
            </tr>   
        </table>	        
        <table border="0"  align="center" width='100%'>
            <tr>
        	    <th colspan="6">
        	        <center>
        	            <b style="font-weight: bold; font-size: medium; color: black; font-style: normal; font-variant: normal">Busqueda por Datos del Paciente</b>
        	         </center>
        	    </th>     
        	</tr>
            <tr>
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    Codigo Paciente
        	    </td>     	                
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    Apellido Paterno
        	    </td>     	                
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    &nbsp;Apellido Materno
        	    </td>     
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    &nbsp;Nombre(s)
        	    </td>     
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">                
        	    </td>     
            </tr>   
            <tr>
                <td style="width: 187px">
                    <input type="text" id="txtCodigoPaciente" name="txtCodigoPaciente" value="0" onKeyPress="numero();" onChange="consultaPacienteGrid(window.document.frmConsultaPacientesEmpresa);" size="35" />
        	    </td>     
                <td style="width: 187px">
                    <input type="text" id="txtApellidoPaterno" name="txtApellidoPaterno" onKeyPress="mayuscula();" onkeyup="consultaPacienteGrid(window.document.frmConsultaPacientesEmpresa);" size="35"/>
        	    </td>     
                <td style="width: 158px">
                    <input type="text" id="txtApellidoMaterno" name="txtApellidoMaterno" onKeyPress="mayuscula();" onkeyup="consultaPacienteGrid(window.document.frmConsultaPacientesEmpresa);"  size="35" />
        	    </td>     
                <td>
                    <input type="text" id="txtNombre" name="txtNombre" onKeyPress="mayuscula();" onkeyup="consultaPacienteGrid(window.document.frmConsultaPacientesEmpresa);" size="35" />
        	    </td>     
                <td>
    				<input type="button" id="idBuscarOrdenesPaciente" name="idBuscarOrdenesPaciente" value="Buscar Orden" onClick="buscarOrdenesConvenioPaciente($!intcConvenio);" class="boton">
        	    </td>     
            </tr>   
    
    
            <tr>
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    &nbsp;* Fecha Inicial
        	    </td>     
                <td style="width: 187px">
    			    <div id="CalendarioNac">
                        <input type="text" name="txtFechaInicial" size="12" value="$!strFecFormat" style="background:#E6E6FA" onKeyup="javascript:agregaDiag(this);" onChange="javascript:this.value=validaFormatoFecha(this.value);">		
    			        <a href="javascript:doNothing()" onclick="javascript:setDateField(document.frmConsultaPacientesEmpresa.txtFechaInicial); top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')">
    			            <img alt='Seleccione una fecha' id="imgFechaInicial" border='0' src='$content.getURI('images/icono_calend.gif')' />
    			        </a>	
    			    </div>				
    	        </td>     
                <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    &nbsp;* Fecha Termino
        	    </td>     
                <td style="width: 187px">
    			    <div id="CalendarioNac">
                        <input type="text" name="txtFechaTermino" size="12" value="$!strFecFormat" style="background:#E6E6FA" onKeyup="javascript:agregaDiag(this);" onChange="javascript:this.value=validaFormatoFecha(this.value);">		
    			        <a href="javascript:doNothing()" onclick="javascript:setDateField(document.frmConsultaPacientesEmpresa.txtFechaTermino); top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')">
    			            <img alt='Seleccione una fecha' id="imgFechaTermino" border='0' src='$content.getURI('images/icono_calend.gif')' />
    			        </a>	
    			    </div>				
    	        </td>     
            </tr>   
        </table>	        
        <table border="0"  align="center" width='100%'>
            <tr>
                <td style="width: 187px">
                    <input type="hidden" id="txtCodigoConPro" name="txtCodigoConPro" value="0" onKeyPress="numero();" onkeyup="consultaConvenioGrid(window.document.frmConsultaPacientesEmpresa);" size="35" />
        	    </td>     
                <td style="width: 187px">
                    <input type="hidden" id="txtNombreConPro" name="txtNombreConPro" onKeyPress="mayuscula();" onkeyup="consultaConvenioGrid(window.document.frmConsultaPacientesEmpresa);" size="117"/>
        	    </td>     
            </tr>   
        </table>	        
	</div>
</form>
#if($intcClaveMedico)
	<script>		
		 medicoECEClave("$!intcClaveMedico");
	</script>	
#end
	