$data.setLayoutTemplate("web2lab/DefaultSinMenuSinLogout.vm")
<script language="javascript" SRC="$content.getURI("javascript/generales.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/pantallas/CambiaPassword.js")"></script>

<script type='text/javascript' src='/web2labportal/dwr/interface/Seguridad.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/engine.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/util.js'></script>

#set ( $titlePage = "Cambia Password") 

#set ($sLoginUser = $data.getParameters().getString('sLoginUser') )

<form name="frmCambiaPassword" method="post" action="$strLigaActual" >
	<table width="100%" class="tabla">
		<tr>
			<td>
				<b><font color="$ff0030">&nbsp;$!strMenContras </font></b>	
			</td>
		</tr>
	</table>
    <div id="gridCambiaPassword"> 
    	<table border="0" cellpadding="2" cellspacing="3" width="100%" class="tabla">
    		<tr>
    			<td>
    				<b>ID User</b>				
                </td>
    	        <td>
                    <input type="text" id="txtidUser" value="" STYLE="font-size: 30px;" size="30" />
    			</td>			
    		</tr>
    		<tr>
    			<td>
    				<b>Login User</b>				
                </td>
    	        <td>
                    <input type="text" id="txtLoginUser" value="$sLoginUser" STYLE="font-size: 30px;" size="30" />
    			</td>			
    		</tr>
    		<tr>
    			<td>
    				<b>Nombre User</b>				
                </td>
    	        <td>
                    <input type="text" id="txtNombreUser" value="0" STYLE="font-size: 30px;" size="30" />
    			</td>			
    		</tr>
    		<tr>
    			<td>
    				<b>New Password</b>				
                </td>
    	        <td>
                    <input type="text" id="txtNewPassword" value="0" STYLE="font-size: 30px;" size="30" />
    			</td>			
    		</tr>
    		<tr>
    			<td>
    				<b>Repite Password</b>				
                </td>
    	        <td>
                    <input type="text" id="txtRepitePassword" value="0" STYLE="font-size: 30px;" size="30" />
    			</td>			
    		</tr>
    	</table>               
		<input type="button" value="Registrar Nuevo Password" name="Registrar Nuevo Password" class="boton" onclick="newPassword();">
    </div> 
</form> 
<script>
		 window.onload = init;		
</script>	