$data.setLayoutTemplate("web2lab/DefaultSinMenu.vm")
<SCRIPT language="javascript1.2" SRC="$content.getURI("javascript/seguridad/validaseguridad.js")"></SCRIPT> 

#set ( $titlePage = "Cambiar Contraseña") 

## #set ( $strLigaActual = $link.setPage("web2lab,seguridad,CamContras.vm").setAction(seguridad.BCambiaPasswd).toString())
#set ( $strLigaActual = $link.setPage("web2lab,seguridad,CamContras.vm"))
#set ( $strLigaActual = $link.setAction("seguridad.BCambiaPasswd").toString())

#set ($logoutLnk = $link.setPage("web2lab,seguridad,ExpedienteElectronico.vm"))
#set ($logoutLnk = $link.setAction("seguridad.BLogoutAction").toString())

<SCRIPT LANGUAGE="JavaScript">function goToURL() { window.location = "$strCargarPagina"; }</script>

<form method="post" action="$strLigaActual" name="frmCamContras" onSubmit="return ContrasIguales()">
	<table width="100%" class="tabla">
		<tr>
			<td>
				<b><font color="$ff0030">&nbsp;$!strMenContras </font></b>	
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="2" cellspacing="3" width="100%" class="tabla">
		<tr>
			<td>
				<b>Usuario:</b> 
					$data.getUser().getLastName() $data.getUser().getFirstName()
					<input type="hidden" name="hdnUsuario" value="$data.getUser().getLastName() $data.getUser().getFirstName()">
				
			</td>
		</tr>
        <tr>
			<td>
				<b>Num de Empleado:</b> 
					$data.getUser().getId()
					<input type="hidden" name="hdnNumEmple" value="$data.getUser().getId()">				
			</td>
		</tr>
        <tr>
			<td>
				<b>Email:</b>
					$data.getUser().getEmail()
					<input type="hidden" name="hdnEMail" value="$data.getUser().getEmail()">
			</td>
		</tr>
        <tr>
			<td>
				<b>Login name:</b> 
					$data.getUser().getName()
					<input type="hidden" name="hdnLoginName" value="$data.getUser().getName()">
			</td>
		</tr>		 
        <tr>
			<td ></td>
            <td colspan="2" align="right">Password nuevo:</td>
            <td><input type="password" name="txtNuevaContras" size="20" onBlur="return validapassCam();"></td>
        </tr>
        <tr>
			<td ></td>
            <td colspan="2" align="right">Cofirma password:</td>
            <td><input type="password" name="txtConfContras" size="20"></td>
        </tr>
	</table>               
    <input type="submit" value="Aceptar" name="onSubmit_doPerform" class="boton" onclick="return ContrasIguales();">
    <input type="button"  onClick="window.location.href='$!logoutLnk'" value="Regresar" class="boton">
	<tr>
		<b>Nota:</br>Recuerda las siguientes reglas al cambiar tu password:
	</tr>
		<tr>• Longitud mínima de 6 caracteres </tr>
		<tr>• La contraseña no puede ser igual a la del usuario </tr>
		<tr>• La contraseña debe de contener al menos un dígito y una letra</tr>
	</tr>
</form> 