4$page.setTitle("WEB2LAB")
$page.setHttpEquiv("Content-Style-Type","text/css")
$page.setHttpEquiv("PRAGMA","NO-CACHE")
$page.setHttpEquiv("CACHE-CONTROL","NO-CACHE")
$page.setHttpEquiv("expires","-1")
##$page.addStyleSheet($content.getURI("css/azul.css"))
##$page.addStyleSheet($content.getURI("css/web2lab.css"))
#set ($cMarca =$data.getUser().getConfirmed())	
$page.addStyleSheet($content.getURI("css/marcas/olab.css"))
$page.addBodyAttribute("marginheight","0")
$page.addBodyAttribute("topmargin","0")
$page.addBodyAttribute("leftmargin","0")
$page.addBodyAttribute("marginwidth","0")
## build the HTML, HEAD, and BODY tags dynamically
#set ($sVersion = $CUtilTool.getVersion() )

##$page.DefaultDoctype
<html>
#TurbineHtmlHead()
<body #TurbineHtmlBodyAttributes() >
<script>
//<!--
	javascript:window.history.forward(1);
//-->
</script>
<table width="750" border="0" cellpadding="0" cellspacing="0" class="fondo">
	#set ($objSesion = $data.getSession())
	#set ($strCLab = $objSesion.getAttribute("strClaboratorio"))
	<tr>	
		#if ($!cMarca == "1")	
        	<td><img src="$content.getURI("images/marca/logoOlab.jpg")" width="100%" height="94"></td>
		#elseif($!cMarca == "4")
    	    <td><img src="$content.getURI("images/marca/logoAzteca.jpg")" width="100%" height="94"></td>
		#elseif($!cMarca == "5")
	        <td><img src="$content.getURI("images/marca/logoCondesa.jpg")" width="100%" height="94"></td>
		#end								
	</tr>
	<tr class="fondo"> 
        <td>
    		<table width="100%" border="0" cellspacing="0" class="fondo">
    			<tr> 
    				<td width="100%" valign="top">
    					<table width="100%" border="0" cellspacing="5" class="fondo">
        					$navigation.setTemplate("/web2lab,Header.vm")
        					$navigation.setTemplate("/web2lab,Menu.vm")
        					<tr>  
        						<td>
        							<table width="100%" class="fondo">
            							<tr class=titulotabla>
        									<td align="center">Sucursal: $!objSesion.getAttribute("grupo") - $!objSesion.getAttribute("NombreRol")</td>
        									<td align="center">Usuario: $!objSesion.getAttribute("strNombreCompleto") - $!sVersion</td>
        									<td align="center">Version 23 Marzo 2022 - SIN PROCESOS</td>
            							</tr>
        							</table>
        						</td>
        					</tr>
        					<tr>
        						<td>$screen_placeholder</td>
        					</tr>
        				</table>
    				</td>
    			</tr>
    		</table> 
        </td>
	</tr>
	$navigation.setTemplate("/web2lab,Footer.vm")
</table>
</body>
</html>
