#set ($objRole = $CSeguridadTool.getRole())
#set ( $strLigaActual  = $link.setPage("web2lab,seguridad,Roles.vm"))
#set ( $strLigaActual  = $link.setAction("seguridad.BRoleAction").toString())
#set ( $title = "Security: Permisos para el rol $role.Name")
#set ($titlePage = "Permisos para el rol: $!objRole.Name")     
<form method="post"  action="$strLigaActual">
    <table border="0" cellspacing="0" cellpadding="0" class="tabla" width="100%" >
    
	#foreach ($objPermisos in $CSeguridadTool.getPermisos())    
	    #if ($objRole.Permissions.contains($objPermisos))
	        #set ($checked = "checked")
	    #else
	        #set ($checked = "")
		#end
		#if ( $t == "azul2") #set ( $t = "azul") #else #set ($t = "azul2")  #end
        <tr class="$t">
            <td align="center">$objPermisos.Name</td>
            <td>
                <input type="checkbox" name="${objRole.Name}${objPermisos.Name}" $checked>
            </td>
        </tr>
	#end
    </table>
    <table border="0"  class="tabla"  width="100%">
    <td>
        <input type="hidden" name="hdnNombre" value="$objRole.Name">
        <input type="submit" name="eventSubmit_doPermisos" class="boton" value="Actualizar"/>
        <!-- input type="submit" name="eventSubmit_doPermissions" value="Update"/ -->
        <input type="submit" name="eventSubmit_doCancel" class="boton" value="Cancelar"/>
    </td>   
    </table>
</form>


