<SCRIPT language="javaScript" SRC="$content.getURI("javascript/generales.js")"></SCRIPT> 
<SCRIPT language="JavaScript" SRC="$content.getURI("javascript/seguridad/validaseguridad.js")"></SCRIPT>  
#set ( $objUsuario    = $CSeguridadTool.getUsuario())
#set ( $strModo    = $CSeguridadTool.getModo() )
#set ( $strLigaAct = $link.setPage("web2lab,seguridad,UsuariosUnidades.vm"))
#set ( $strLigaAct = $link.setAction("seguridad.BUserAction").toString())
#set ( $strCargarpagina = $link.setAction("seguridad.BUserAction").setPage("web2lab,seguridad,Usuarios_FormUnidades.vm").toString())
#set ( $strPagAnt = $link.setPage("web2lab,seguridad,UsuariosUnidades.vm").toString())

#if ($strModo == "modificar")
	#set ($titlePage = "Modificar Usuario")
#elseif ($strModo == "eliminar")
	#set ($titlePage = "Eliminar Usuario")
#else
	#set ($strModo = "insertar")
   	#set ($titlePage = "Agregar un Nuevo Usuario")
#end  
<script language="JavaScript" src="$content.getURI("javascript/seguridad/validaseguridad.js")"></script>
<script language ="JavaScript">

	function irAurl() { 		
		window.document.frmUsuario.action = "$strCargapagina";
	}
	
	
</script>
    <form method="post" name="frmUsuario" action="$strLigaAct"  #if($strModo != "eliminar")onsubmit="return validaFormaUsuarios('frmUsuario')" #end>
		<input type="hidden" name="hdnCambioPass" value="false">
		<table width="100%" class="tabla">
			<tr>     
			<b>NOTA:  Recuerda las siguientes reglas al cambiar tu password</b>
	           </tr>
			<tr>&nbsp;</tr>
			<tr>• Longitud mínima de 6 caracteres </tr>
			<tr>• La contraseña no puede ser igual a la del usuario </tr>
			<tr>• La contraseña debe de contener al menos un dígito y una letra</tr>
			<tr>
       			<td>
		       		#if($!bolCreado == "true")
						<img align="middle" src="$content.getURI('images/icon_alertsml.gif')" alt="Alta de usuario exitosa"/>&nbsp;&nbsp;
						<b><font color="$ff0030" aling="center">&nbsp; El usuario: $!strMensaje, se dio de alta con &eacute;xito.</font></b>
					#end	
				</td>
			</tr>
			<tr>
       			<td>
		       		#if($!bolUsuarioExiste == "true")
						<img align="middle" src="$content.getURI('images/icon_alertsml.gif')" alt="Usuario existente"/>&nbsp;&nbsp;
						<b><font color="$ff0030" aling="center">&nbsp; El usuario: $!strUsuarioExiste, ya existe.</font></b>
					#end	
				</td>
			</tr>	
		</table>
    	<table border="0" cellspacing="2" cellpadding="3" width="100%" class="tabla">
            <tr>
                <th>Login</th>
                    <td>
					#if ($strModo == "insertar")
					    <input type="text" name="username" value="$!objUsuario.UserName" >
					#else
						<input type="hidden" name="username" value="$!objUsuario.UserName">
        				$!objUsuario.UserName
					#end
        			</td>
       		</tr>							
			#if($strModo != "eliminar")
       		<tr>
       			<th>Contraseña</th>
       				<td>					
       					<input type="password" name="password" value="$!objUsuario.Password" onFocus="frmUsuario.password.value='';frmUsuario.hdnCambioPass.value='true';" onBlur="return validapass();">			
					</td>
       		</tr>
       		<tr>
       			<th>Confirma contraseña</th>
       				<td>
       					<input type="password" name="txtCofirmaContra" value="$!objUsuario.Password" onFocus="frmUsuario.txtCofirmaContra.value='';">				
        			</td>
				
       		</tr>
			#end
       		<tr>
        		<th>Nombre</th>
        			<td>
					#if($strModo != "eliminar")
         				<input type="text" name="firstname" value="$!objUsuario.FirstName" onKeyUp="cambiaMay('frmUsuario','firstname');">
					#else
						<input type="hidden" name="firstname" value="$!objUsuario.FirstName" onKeyUp="cambiaMay('frmUsuario','firstname');">
						$!objUsuario.FirstName
					#end
        			</td>
       		</tr>
       		<tr>
        		<th>Apellido</th>
        			<td>
					#if($strModo != "eliminar")
         				<input type="text" name="lastname" value="$!objUsuario.LastName" onKeyUp="cambiaMay('frmUsuario','lastname');">
					#else
						<input type="hidden" name="lastname" value="$!objUsuario.LastName" onKeyUp="cambiaMay('frmUsuario','lastname');">
						$!objUsuario.LastName
					#end
        			</td>
       			</tr>
       		<tr>
        		<th>Correo</th>
        			<td>
					#if($strModo != "eliminar")
         				<input type="text" name="email" value="$!objUsuario.Email">
					#else
						<input type="hidden" name="email" value="$!objUsuario.Email">
						$!objUsuario.Email
					#end
        			</td>
        			
       		</tr>       				
       	</table>         
       	
	#if ($strModo == "modificar")
		<input type="submit" name="eventSubmit_doActualiza" class="boton" value="Actualizar" />
	#elseif ($strModo == "eliminar")
    	<input type="submit" name="eventSubmit_doElimina" class="boton" value="Confirma Eliminar" onclick="return confirm('¿Se eliminará al usuario y todas sus relaciones?');"/>
	#else
    	<input type="submit" name="eventSubmit_doInserta" class="boton" value="Crear" onclick="irAurl()"/>
	#end
	#if($!bolCreado == "true")
		#set ($etiqueta = "Regresar")			
	#else    	
    	#set ($etiqueta = "Cancelar")			
    #end    
    <input type="button" name="cmd$etiqueta" value="$etiqueta" class="boton" onclick="location.href='$strPagAnt'";>
</form>      

