$data.setLayoutTemplate("/web2lab/Default.vm")

##Obtiene el bean de session que a su vez contiene el bean de DExamen
#set ( $objSesionActual = $data.getSession() )
#set ( $titlePage = "Datos Generales de examen <br>" )

#set ($lstDepartamentos = $CatalogosTool.obtenAll("Departamento","0"))
#set ($lstIndicaciones = $CatalogosTool.obtenAll("CondicionPreanalitica","0"))
#set ($lstMuestras = $CatalogosTool.obtenAll("Muestra","0"))
#set ($lstInsumos = $CatalogosTool.obtenAll("Contenedor","0"))
#set ($lstMetodologia = $CatalogosTool.obtenAll("Metodologia","0"))
##set ($lstIndicacionesTomador = $CatalogosTool.obtenAll("IndicacionTomador","0"))
##set ($lstTemperaturas = $CatalogosTool.obtenAll("TemperaturaMuestra","0"))
#set ($lstMotivosRechazo = $CatalogosTool.obtenAll("MotivoRechazo","0"))
##set ($lstTiemposProceso = $CatalogosTool.obtenAll("TiempoProceso","0"))
#set ($lstLugarProcesamiento = $CatalogosTool.obtenAll("LugarProcesamiento","0"))
		
<style type="text/css">
.tableBorder {
 font-size: 11px;
 color: #000000;
 line-height: normal;
 font-family: Arial, Helvetica, sans-serif;
 background-color : #DFEAF7;
 border-color: darkblue;
 border-style: solid;
}    
.selector { width: 150px; }
.selector350 { width: 350px; }
</style>

<script language="javascript" SRC="$content.getURI("javascript/generales.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/examenes/configuracion/PantallaConfiguracionExamen.js")"></script>

<form name="frmConfiguracionExamen" action="" method="post" >
	<table border="0" cellspacing="2" cellpadding="3" width="100%" class="tabla">	
		<tr>
			<td align="right">
				<b>C&oacute;digo de examen:</b> 
			</td>
			<td>
				<input type="text" name="txtClaveExamen" size="10" onkeyup="consultaExamenesGrid();">
			</td>	
			<td align="right">
				<b>Nombre del Examen:</b> 
			</td>
			<td>
				<input type="text" name="txtNombreExamen" onKeyPress="mayuscula();" size="70" onkeyup="consultaExamenesGrid();">
			</td>
		</tr>
		<tr>
			<td align="right">
				<b>Mn&oacute;nico:</b> 
			</td>
			<td>
				<input type="text" name="txtMnemonico" onKeyPress="mayuscula();">
			</td>
			<td align="right">
				<b>G&eacute;nero:</b> 
			</td>
			<td>
				<select name="cboGeneroExamen" class="selector" >
					<option value="1">AMBOS</option>
					<option value="2">MASCULINO</option>
					<option value="3">FEMENINO</option>
				</select>	
			</td>
		</tr>
	</table>
	<table border="0" cellspacing="2" cellpadding="3" width="100%" class="tabla">
		<tr>
			<td align="right">
				<b>Departamento:</b> 
			</td>
			<td>
				<select name="cboDepartamento" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objDepartamento in $lstDepartamentos)
						#option("$!objDepartamento.getCdepartamento()" "$!objDepartamento.getCdepartamento() - $!objDepartamento.getSdepartamento()" "0")							
					#end
				</select>	
				
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Tipo Muestra:</b> 
			</td>
			<td>
				<select name="cboMuestra" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objMuestra in $lstMuestras)
						#option("$!objMuestra.getCmuestra()" "$!objMuestra.getCmuestra() - $!objMuestra.getSmuestra()" "0")							
					#end
				</select>	
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Contenedor:</b> 
			</td>
			<td>
				<select name="cboContenedor" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objInsumo in $lstInsumos)
						#option("$!objInsumo.getCcontenedor()" "$!objInsumo.getCcontenedor() - $!objInsumo.getScontenedor()" "0")							
					#end
				</select>	
				
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Temperatura Muestra:</b> 
			</td>
			<td>
				<select name="cboTemperaturaMuestra" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objTemperaturas in $lstTemperaturas)
						#option("$!objTemperaturas.getCtemperaturamuestra()" "$!objTemperaturas.getCtemperaturamuestra() - $!objTemperaturas.getStemperaturamuestra()" "0")							
					#end
				</select>	
				
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Motivo Rechazo:</b> 
			</td>
			<td>
				<select name="cboMotivoRechazo" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objMotivoRechazo in $lstMotivosRechazo)
						#option("$!objMotivoRechazo.getCmotivorechazo()" "$!objMotivoRechazo.getCmotivorechazo() - $!objMotivoRechazo.getSmotivorechazo()" "0")							
					#end
				</select>	
				
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Tiempo Proceso:</b> 
			</td>
			<td>
				<select name="cboTiempoProceso" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objTiempoProceso in $lstTiemposProceso)
						#option("$!objTiempoProceso.getCtiempoproceso()" "$!objTiempoProceso.getCtiempoproceso() - $!objTiempoProceso.getStiempoproceso()" "0")							
					#end
				</select>					
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Indicaciones Tomador:</b> 
			</td>
			<td>
				<select name="cboIndicacionTomador" class="selector" onChange="consultaExamenesGrid();" style="background:#E6E6FA;width: 500px">
					#foreach($objIndicacionTomador in $lstIndicacionesTomador)
						#option("$!objIndicacionTomador.getCindicaciontomador()" "$!objIndicacionTomador.getCindicaciontomador() - $!objIndicacionTomador.getSindicaciontomador()" "0")							
					#end
				</select>	
				
			</td>
        </tr>
		<tr>
			<td align="right">
				<b>Indicaciones para el paciente:</b> 
			</td>
			<td>			
				<select name="cboIndicacionesPaciente" class="selector" onChange="asignaInstrucciones();" style="background:#E6E6FA;width: 500px">
					#foreach($objIndicacion in $lstIndicaciones)
						#option("$!objIndicacion.getCcondicionpreanalitica()" "$!objIndicacion.getCcondicionpreanalitica() - $!objIndicacion.getScondicionpreanalitica()" "0")							
					#end
				</select>	
			</td>
		</tr>
		<tr>
			<td align="right">
				<b>Lugar de Procesamiento:</b> 
			</td>
			<td>			
				<select name="cboLugarProcesamiento" class="selector" onChange="asignaInstrucciones();" style="background:#E6E6FA;width: 500px">
					#foreach($objLugarProcesamiento in $lstLugarProcesamiento)
						#option("$!objLugarProcesamiento.getClugarprocesamiento()" "$!objLugarProcesamiento.getClugarprocesamiento() - $!objLugarProcesamiento.getSlugarprocesamiento()" "0")							
					#end
				</select>	
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<textarea name="txtIndicacionesPaciente" cols="75" rows="8" readonly></textarea>
			</td>
		</tr>		
		<tr><td>&nbsp;</td></tr>
	</table>
	<table border="0" cellspacing="2" cellpadding="3" width="100%" class="tabla">
		<tr><td align="center">
    	<table border="0" cellspacing="2" cellpadding="3" width="75%" class="tableBorder">
    		<tr><th colspan="3" align="center"><b>C&oacute;digos Analitos</b></th></tr>
			<tr>
				<td colspan="3">				
				#if($aStrMsjRelacionados)	
					<img align="middle" src="$content.getURI('images/icon_infosml.gif')"/>&nbsp;&nbsp;
					<b><font color="$3366CC" aling="center">$aStrMsjRelacionados</font></b>						
				#end					
				</td>
			</tr>
			<tr>
    			<td align="right">
    				<b>Buscar por nombre:</b> 
    			</td>
    			<td>
					<input type="text" name="txtNomRelacionado" value="$!aStrNombreExamen" >
    			</td>
    			<td align="center">
    				<input type="submit" value="Buscar Analitos" name="eventSubmit_doBuscarrelacionados" 
						class="boton" onClick="return buscarExamenRelacionado();">
    			</td>
    		</tr>			
    		<tr>
    			<td align="right">
    				<b>C&oacute;digo de Analito:</b> 
    			</td>
    			<td colspan="2">
    				<select name="cboRelacionados" >
    					<option > Selecciona </option>
						#foreach($objDExamen in $aObjDExamenes)
							<option value="$objDExamen.getClaboratorioexamen()*$objDExamen.getCexamen().getCexamen()" >
								$!objDExamen.getStituloimpresion()
							</option>
						#end
    				</select>	
    			</td>
			</tr>
			<tr>
    			<td align="center" colspan="3">
    				<input type="button" value="Agregar Analito" name="Agregar" class="boton" 
						onClick="asignaExamenRelacionado('relacionados');">
    			</td>
    		</tr>
    		<tr>
    			<td colspan="3" align="center">
					<DIV STYLE="font-size: 11px;
                		color: #000000;
                		line-height: normal;
                		font-family: Arial, Helvetica, sans-serif;
                		background-color : #DFEAF7;
                		overflow: auto; 
                		width: 550px; 
                		height: 150; 
                		border-left: 1px gray solid; 
                		border-right: 1px gray solid;
                		border-bottom: 1px gray solid; 
                		border-top: 1px gray solid; 
                		padding: 0px; 
                		margin: 0px"> 						
    				<table border="0" cellspacing="2" cellpadding="3" width="100%" class="tabla" id="relacionados">
						<COL WIDTH="15%"><COL WIDTH="25%"><COL WIDTH="40%"><COL WIDTH="20%">
                		<tr>
                			<th align="center" width="15%" nowrap>No.</th>
                			<th align="center" width="25%" nowrap>C&oacute;digo de Analito</th>
                			<th align="center" width="40%" nowrap>Nombre</th>
							<th align="center" width="20%" nowrap>Eliminar</th>	
                		</tr>						
						#set( $rowNumero = 0 )		
						#foreach( $objRelacionadoAsignado in $exaRelacionados )
							#set( $rowNumero = $velocityCount )
							<input type="hidden" name="hdnExamenRelId$velocityCount" value="$!objRelacionadoAsignado.getCexamenrelacionado()">
							<tr>
								<td>$velocityCount</td>
								<td>
									<input type="hidden" name="hdnCExamen$velocityCount" value="$!objRelacionadoAsignado.getDexamenbyclaboratorioexamenrel().getCexamen().getCexamen()">
									$!objRelacionadoAsignado.getDexamenbyclaboratorioexamenrel().getCexamen().getCexamen()
								</td>				
								<td>
									<input type="hidden" name="hdnSExamen$velocityCount" value="$!objRelacionadoAsignado.getDexamenbyclaboratorioexamenrel().getStituloimpresion()">
									$!objRelacionadoAsignado.getDexamenbyclaboratorioexamenrel().getStituloimpresion()
								</td>
								<td>
									<input type="checkbox" name="chkEliminar$velocityCount" >
									<input type="hidden" name="hdnClabExaEliminar$velocityCount" value="$!objRelacionadoAsignado.getDexamenbyclaboratorioexamenrel().getClaboratorioexamen()" >
								</td>
							</tr>
						#end
						<COL WIDTH="15%"><COL WIDTH="25%"><COL WIDTH="40%"><COL WIDTH="20%">
    				</table>
					</DIV>
    			</td>
    		</tr>			
    	</table>	
		</td></tr>
		<tr><td>&nbsp;<input type="hidden" name="hdnNumRelacionados" value="$rowNumero" ></td></tr>		
	</table>
	<table border="0" cellspacing="2" cellpadding="3" width="100%" class="tabla">
		<tr>
			<td align="center">
				<input type="submit" value="Guardar" name="eventSubmit_doDatosgenerales" class="boton"
					onClick="return validaCampos();">
			</td>
			<td align="center">
				<input type="submit" value="Regresar" name="eventSubmit_doRegresar" class="boton">
			</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>		
	</table>		
</form>