#set ($titlePage = "Creacion de Previos" )

<script language="javascript" SRC="$content.getURI("javascript/generales.js")"></script>
<script language='javascript' src="$content.getURI("javascript/calendarfoco.js")"></script>
<script language='javascript' src="$content.getURI("javascript/calendar.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/tooljquery/submodal/common.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/tools/Tools.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/tooljquery/submodal/subModal.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/pantallas/FacturacionPrevio.js")"></script>


<script type='text/javascript' src='/web2labportal/dwr/interface/FacturacionAjax.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/interface/FacturaElectronicaEmpresaAjax.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/interface/BusquedaFacturas.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/engine.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/util.js'></script>

<script>
		 window.onload = init;			    		 
</script>	

#set ($lstConvenios = $CatalogosTool.obtenAll("ConvenioCredito","601")) 
#set ($intcSucursal = $data.getSession().getAttribute('idgrupo') )
#set ($ligaSustitucion = $link.setPage("web2lab,sustitucion,SustitucionFactura.vm").toString())


<form name="frmFacturacion" method="post" >	
	<input type="hidden" id="idUsuario" name="idUsuario" value="$data.getUser().getId()">	
	<input type="hidden" id="IdSucursalActual" name="IdUnidadActual" value="$data.getSession().getAttribute("idgrupo")">	
    <table	border="0" class="tabla" width="100%">	
    	<tr><th colspan="5">Generación Previos</th></tr>
		<tr>
			 <td colspan="2" style="font-weight:  bold; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Convenio
    	    </td>
			    
		</tr>
		<tr>
			<td colspan="2">
                <select id="selConvenios"  style="width: 600px">
					#foreach($objConvenio in $lstConvenios)
						#option("$!objConvenio.getCconvenio()" "$!objConvenio.getSconvenio()  -  $!objConvenio.getCconvenio()" 0)	
					#end
	            </select>						
    	    </td>	
		</tr>
		<tr>
			 <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Busqueda de convenio
    	    </td>    
		</tr>
		<tr>
			<td colspan="9" style="width: 1036px" align="left">
				<input type="text" id="txtBuscarConvenio" onKeyPress="numero();" onkeyup="buscarConvenioRapido(window.document.frmFacturacion.selConvenios,this.value);" />
			</td>    	    
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td colspan="5" text-align="rigth" style="font-weight:  bold; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Bloque
    	    </td>
		</tr>
		<tr>
			<td valign="middle">Tipo de Reporte
				<select id="selTipoPrevio" style="width: 120px" align="up">
					    <option value="0">Seleccionar</option>
    					<option value="1">Detalle Examenes</option>
    					<option value="2">Detalle Orden</option>
    					<option value="3">Detalle Agrupación</option>
		            </select>
			</td>
			<td>Monto máximo a facturar con IVA
				$<input type="text" id="txtMontoMaximo"  onKeyPress="numero();" size="15" style="width:100px;" value="0">
			</td>
			<td>
				<select id="selBloques" style="width: 80px" size="10" multiple="multiple">
					    <option value="0">Seleccionar</option>
    					<option value="1">1</option>
    					<option value="2">2</option>
    					<option value="3">3</option>
    					<option value="4">4</option>
    					<option value="5">5</option>
    					<option value="6">6</option>
    					<option value="7">7</option>
    					<option value="8">8</option>
    					<option value="9">9</option>
    					<option value="10">10</option>
    					<option value="11">11</option>
    					<option value="12">12</option>
    					<option value="13">13</option>
    					<option value="14">14</option>
    					<option value="15">15</option>
    					<option value="16">16</option>
    					<option value="17">17</option>
    					<option value="18">18</option>
    					<option value="19">19</option>
    					<option value="20">20</option>
		            </select>
			</td>
        </tr>
		
		<tr>
		</tr>
		<tr>
			<td valign="middle">Razon Social
				<select id="selRazonSocial" style="width: 300px" align="up">
					    <option value="0">Seleccionar... (Solo para JENNER)</option>
    					<option value="1">LABORATORIO CLINICO DEL PRADO S.A. DE C.V.</option>
    					<option value="2">LABORATORIO CLINICO LEAN S.A. DE C.V.</option>
		         </select>
			</td>
		</tr>
		<tr>
			<td>				
		         <br>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" id="idGenerarPrevio" name="idGenerarPrevio" value="Facturación Previo" onClick="GeneracionPrevioFactura();" class="boton">
			</td>
			<td>
				<input type="button" id="idGenerarDefinitivo" value="Facturación Definitivo" onClick="GeneracionDefinitivoFactura();" class="boton">
			</td>
			<td> 
				<input type="button" name="agregar" value="Limpia Pantalla" onClick="limpiaPantalla();" class="boton">
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>
        		<input type="checkbox" id="chkCrearFactura" onClick="showCajaFactura();">Crear Factura	
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
	</table>
	<div id="creacionPdf" style="display:none">
		<table border="0" class="tabla" width="100%">
				<td>
					Folio Factura
					<input type="text" id="txtUfoliofactura" size="15" style="width:100px;" >
					<select id="selMarca" style="width: 120px" align="up">
						    <option value="1">OLAB</option>
						    <option value="4">AZTECA</option>
						   	<option value="5">SWISSLAB</option>
						   	<option value="7">JENNER PRADO</option>
						   	<option value="8">JENNER LEAN</option> 
			        </select>
					<input type="button" id="idBuscaFactura" name="idBuscaFactura" value="Busca Factura" onClick="buscaFactura();" class="boton">
				</td>
			</tr>
		</table>
	</div>
	<div id="montosFactura" style="display:none">
	</div>
	
</form>