#set ($titlePage = "Operaciones Facturaci&oacute;n" )

<script language="javascript" SRC="$content.getURI("javascript/generales.js")"></script>
<script language='javascript' src="$content.getURI("javascript/calendarfoco.js")"></script>
<script language='javascript' src="$content.getURI("javascript/calendar.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/tooljquery/submodal/common.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/tooljquery/submodal/subModal.js")"></script>
<script language="javascript" SRC="$content.getURI("javascript/validacionobjeto/pantallas/FacturacionPrevio-22062022.js")"></script>


<script type='text/javascript' src='/web2labportal/dwr/interface/FacturacionAjax.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/interface/FacturaElectronicaEmpresaAjax.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/interface/BusquedaFacturas.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/engine.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/util.js'></script>

<script>
		 window.onload = init;			    		 
</script>	

<form name="frmOpFacturacion" action="" method="post" >	
	<table	border="0" class="tabla" width="100%">	
		<tr>
			<td colspan="2">
				<input type="button" id="idCargaMasiva" name="idCargaMasiva" value="Carga Masiva" onClick="cargaMasiva();" class="boton">
			</td>		
		</tr> 
	</table>
</form>

<form action="http://10.3.0.8:8192/facturas/operacion" method="post" target="_blank">	

	<input type="hidden" id="idUsuario" name="idUsuario" value="$data.getUser().getId()">	
	<input type="hidden" id="web2labtoken" name="web2labtoken" value="TNXdaFYKYP-qZQIdo9Q7g">
	
    <table	border="0" class="tabla" width="100%">	
    	<tr><th colspan="5">Operaciones Facturaci&oacute;n</th></tr>
		<tr>
			 <td colspan="2" style="font-weight:  bold; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                Operaci&oacute;n
    	    </td>
			    
		</tr>
		<tr>
			<td colspan="2">
                <select name="operacion"  style="width: 600px">
                	<optgroup label="Facturas">
					<option value="0">Emisi&oacute;n Antincipada Serie A</option>
					<option value="1">Emisi&oacute;n Serie B (Convenio)</option>
					<option value="2">Emisi&oacute;n Serie B (RFC)</option>
					<option value="3">Emisi&oacute;n Nota de cr&eacute;dito</option>
					<option value="5">Emisi&oacute;n Copago</option>
										
					<option value="22">Cambio de Convenio</option>
					<option value="23">Carga de Ex&aacute;menes/Perfiles</option>
					<option value="24">Descarga de &oacute;rdenes a Facturas Anticipadas</option>
					<option value="26">Reportes Facturacion</option>
					<option value="27">Cambio de bloque</option>
					<option value="29">Cambio Masivo No Facturable</option>
					</optgroup>
	            </select>						
    	    </td>	
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Aceptar" class="boton">	
			</td>		
		</tr>	
	</table>
</form>