<script language='javascript' src="$content.getURI("javascript/generales.js")"></script>
<script language='javascript' src="$content.getURI("javascript/calendar.js")"></script>
<script language='javascript' src="$content.getURI("javascript/validacionobjeto/pantallas/ReporteFacturacion.js")"></script>
<script type='text/javascript' src='/web2lab/dwr/engine.js'></script>
<script type='text/javascript' src='/web2lab/dwr/util.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/engine.js'></script>
<script type='text/javascript' src='/web2labportal/dwr/util.js'></script>

#set($titlePage = "Reportes Facturacion")

#set($ligaReporte = $link.setPage("web2lab,ap,RepRedirect.vm"))
#set($ligaReporte = $link.setAction("reportes.ReporteFacturacionAction").toString())

#set($fechaDesde = $data.getParameters().getString("txtDeFecha"))
#set($fechaHasta = $data.getParameters().getString("txtAFecha"))

#set ($lstConvenios = $CatalogosTool.obtenAll("Convenio","691"))

<script>
		 window.onload = init;			    		 
</script>

<form method="post" name="reporte" action="$strLiga">	
	<input type="hidden" id="idUsuario" name="idUsuario" value="$data.getUser().getId()">	
   <table	border="0" class="tabla" width="100%">	
    	<tr><th colspan="4">Reporte - Seleccione el Rango de Fechas</th></tr>
    		<tr>
    			<td><b>Desde:</b><br><input type="text" name="txtDeFecha" 
					#if($!fechaDesde != "") 
            			value="$!fechaDesde" 
            		#else
            			value="$CatalogosTool.getFecha()"
            		#end
					size="13" onChange="javascript:this.value=validaFormatoFecha(this.value);">
    				<a href="javascript:doNothing()" onClick="javascript:setDateField(document.reporte.txtDeFecha);top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')" align="bottom">
    				<img alt='Seleccione una fecha' border='0' src='$content.getURI('images/icono_calend.gif')'></a>    				
    			</td>
    			<td><b>Hasta:</b><br><input type="text" name="txtAFecha" 
					#if($!fechaHasta != "")
            			value="$!fechaHasta"
            		#else 
            			value="$CatalogosTool.getFecha()"
            		#end
					size="13" onChange="javascript:this.value=validaFormatoFecha(this.value);">
				<td/>
				<td>
    				<a href="javascript:doNothing()" onClick="javascript:setDateField(document.reporte.txtAFecha);top.newWin =  ventanaNormal('$content.getURI('javascript/calendar.html')','cal','WIDTH=230,HEIGHT=230')" align="bottom">
    				<img alt='Seleccione una fecha' border='0' src='$content.getURI('images/icono_calend.gif')'></a>
    			</td>
			</tr>
    		
    		<tr><td></td></tr>
    		<tr>
				<td>
	                <select id="selReporte" style="width: 210px">
							<option value="1">Notas de Credito</option>
							<option value="2">Facturación</option>
							<option value="3">Pases Pendientes Sucursales</option>
							<option value="4">Pases Pendientes Facturación</option>
							
		            </select>					
					<input type="button" onclick="return repFacturacionSelect('$ligaReporte','ImprimeReporteFacturacion')" value="Executa Reporte" name="Generar Reporte" class="boton" style="width:200px">
				</td>
				<td>
					<input type="button" id="idLimpiar" value="Limpiar" onClick="limpiaPantalla();" class="boton">
				</td>
			</tr>
    		<tr>
    			 <td style="font-weight: normal; font-size: x-small; color: black; font-style: normal; font-variant: normal">
                    Busqueda de convenio por código
        	    </td>    
			</tr>
    		<tr>
    			<td colspan="9" style="width: 1036px" align="left">
    				<input type="text" id="txtBuscarConvenio" onKeyPress="mayuscula();" onkeyup="buscarConvenioRapido(window.document.reporte.selConvenios,this.value);" />
    			</td>    	    
    		</tr>
    		
			<tr>
				<td>
	                <select id="selConvenios"  style="width: 600px">
						<option value="0">Ninguno</option> 
						#foreach($objConvenio in $lstConvenios)
							#option("$!objConvenio.getCconvenio()" "$!objConvenio.getSconvenio()  -  $!objConvenio.getCconvenio()" 0)	
						#end
					</select>	
				</td>
			</tr>
    		<tr><td></td></tr>
    		<tr><td></td></tr>
    		<tr><td></td></tr>
	</table>
</form>