#u7533
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u7534-6
{
	font-size: 10px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
}

